.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    background-color: white;
    z-index: 1;
    

}
.product__info {
    height: auto;
    text-align: center;
    align-items: center;
    width: 60%;

  }
  
  .product__price {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .product__rating {
    color: #f0c14b;

  }
  
  .product > img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .product > button {
    background-color: #f0c14b;
    width: 120px;
    height: 25;
    margin: 10px auto;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
  }